{% extends "base.html" %}
    
{% block content %}
        <h1>Welcome to Publish Subscribe platform!</h1>

       <body><b>{{ message }}</b> <br>
        <b> {{ socket_message }} </b><br>
        <form action="" method="post","get">
                        {{ form.hidden_tag() }}
                        
                        <p>
                                {{ form.user.label }}<br>
                                {{ form.user(size=32) }}<br>
                                {% for error in form.user.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                        </p>    
                        <p>
                                {{ form.password.label }}<br>
                                {{ form.password(size=32) }}<br>
                                {% for error in form.password.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                        </p>
                        <p>
                                {{ form.Client_.label }}<br>
                                {{ form.Client_(size=32) }}<br>
                                {% for error in form.Client_.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                        </p>
                        <p>{{ form.submit() }}</p>
                       </form> 
       </body> 
   
{% endblock %}