{% extends "base.html" %}
{% block content %}
<style>
    #Publish {
        position: absolute;
        left: 0px;
        width: 50%;
        
    }
    #Subscribe {
        position: absolute;
        right: 0px;
        width: 50%;
        
        
    }
    </style>

<body >
    <div id="Publish">
        <h1>Publish Input</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.Input.label }}<br>
                {{ form.Input(size=32) }}<br>
                {% for error in form.Input.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
            <p>                    
                {% for item in load %}    
                <li>{{ item }}</li>
                {% endfor %}           
            </p>
        </form> 
    </div>    
    <div id = "Subscribe" >
        <h1>Subscribed Topic</h1>
        <form action="" method="post">        
                    {{ form.hidden_tag() }}
                   
                    <p>                          
                        <li>You are subscribed to amaina/{{ topic }}</li>
                        {% for item in Payload %}    
                        <li>{{ item }}</li>
                        {% endfor %}
                    </p> 
                    
        </form>       
    </div>
</body>
{% endblock %}